@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Spartan', sans-serif;
}

.clearfix{
    float: none;
    clear: both;
}

h1{
    font-size: 50px;
    line-height: 64px;
    color: #222;
}

h2{
    font-size: 46px;
    line-height: 54px;
    color: #222;
}

h4{
    font-size: 20px;
    color: #222;
}

h5{
    font-size: 20px;
    color: #CBE4DE;
}

h6{
    font-size: 16px;
    font-weight: 700;
    color: #222;
}

p{
    font-size: 16px;
    color: #222;
    margin: 15px 0 20px 0;
}

desc{
    font-size: 16px;
    color: #2C3333;
    margin: 15px 0 20px 0;
}

.image-padding{
    padding: 40px 50px;
}

.section-p1{
    padding: 40px 80px;
}

.section-s1{
    padding: 20px 40px;
    border-width: -30px;
}

.section-m1{
    margin: 40px 0;
}

button.normal{
    font-size: 14px;
    font-weight: 600;
    padding: 15px 30px;
    color: #2C3333;
    background-color: #FFB26B;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.5s;
}

input .normal{
    font-size: 14px;
    font-weight: 600;
    padding: 15px 30px;
    color: #2C3333;
    background-color: #FFB26B;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.5s;
}

body{
    width: 100%;
}

/* Header Start*/

#header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background: #fff;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
}

#navbar{
    display: flex;
    align-items: center;
    justify-content: center;
}

#mobile{
    display: none;
    align-items: center;
}

#close{
    display: none;
}

#navbar li{
    list-style: none;
    padding: 0 20px;
    position: relative;
}

#navbar li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #2C3333;
    transition: .5s ease;
}

#navbar li a span{
    color: #2C3333;
    position: absolute;
    padding: 2px 3px;
    border-radius: 50%;
    transition: 1.5s ease;
}

#navbar li a span:hover{
    color: #FF7B54  
}

#navbar li a:hover,
#navbar li a.active {
    color: #FF7B54
}

#navbar li a.active::after,
#navbar li a:hover::after{
    content: "";
    width: 30%;
    height: 2px;
    background: #FF7B54;
    position: absolute;
    bottom: -4px;
    left: 20px;
}

/*Home Page */
#resto{
    background-image: url(../img/bg\ resto1.jpg);
    height: 90vh;
    width: 100%;
    background-size: cover;
    background-position: top 25% right 0%;
    padding: 0% 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}


#resto h4{
    padding-bottom: 15px;
    color: #FFB26B;
    font-size: 25px;
}

#resto h1{
    color: #FFB26B;
    font-size: 40px;
}

#resto h2{
    color: #FFB26B;
    
}

#resto p{
    color: #FFB26B;
    font-size: 18px;
}

#resto button{
    color: #FFD56F;
    height:60px;
    width: 150px;
    border-radius: 15px;
    border-color: #FFD56F;
    cursor: pointer;
    background-color: transparent;
    transition: 0.5s;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 5px;
}

#resto button:hover{
    background-color: #FFB26B;
    color: #1a1a1a;
}

.text-center{
    text-align: center;
}

.text-center a{
    color: #FF7B54;
}

#feature{
    padding-bottom: 42%;
}


.feature-flex{
    position: relative;
    padding-block-end: 33px;
    text-align: center;
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
}

.box-3{
    width: 25%;
    margin: 1%;
    margin-right:2%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    float: right;
    overflow:visible;
}

.box-33{
    width: 25%;
    margin: 1%;
    margin-right:6%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    float: right;
    overflow:visible;
}

.margin{
    padding-left:50%;
}



#feature .category {
    text-align: center;
    padding-bottom: 15px;
}
#feature .fe-box{
    height: 350px;
    width: 260px;
    text-align: center;
    padding: 60px 15px;
    box-shadow: 50px 50px 44px rgba(0, 0, 0, 0.03);
    border: 1px solid #FFB26B;
    border-radius: 4px;
    cursor: pointer;
    flex-direction: row;
}

#feature .fe-box:hover{
    box-shadow: 10px 10px 54px rgba(70, 62, 221, 0.1);
}

#feature .category h2{
    padding-bottom: 15px;
}

#feature .fe-box h6{
    padding: 9px 8px 6px 8px;
    line-height: 1;
    border: 4px;
    color: #2C3333;
    background-color: #FFB26B;
    display:inline-block;
    transform: scale(1);
    transition: 0.3s ease-in-out;
}

#feature .fe-box:hover h6{
    transform: scale(1);
    transition: 0.3s ease-in-out;
}

#feature .fe-box:nth-child(1) h6{
    background-color:#FFB26B;  
}
#feature .fe-box:nth-child(2) h6{
    background-color:#FFB26B;  
}
#feature .fe-box:nth-child(3) h6{
    background-color:#FFB26B;  
}

#feature .fe-box img{
    width: 100%;
    margin-bottom: 10px;
}


#feature .fe-box img{
    transform: scale(1);
    transition: 0.3s ease-in-out;
}

#feature .fe-box:hover img{
    transform: scale(1.5);
}

#bestseller1 .padding-bottom{
    padding-bottom: 8%;
}

#bestseller1{
    text-align: center;
    align-items: center;
    padding: 4% 0;
}

#bestseller1 .beef span{
    font-size: 30px;
    color: #2C3333;
    font-family:Verdana, Geneva, Tahoma, sans-serif  
}

#bestseller1 .pork span{
    font-size: 30px;
    color: #2C3333;
    font-family:Verdana, Geneva, Tahoma, sans-serif
}  

#bestseller1 .bs-container{
    display: flex;
    justify-content: flex-start;
    padding-top: 20px;
    flex-wrap: wrap;
}

.row-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  

#bestseller1 .bs-pro{
    width: 24%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid #CBE4DE;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
    margin: 15px 0;
    transition: 0.2 ease;
    margin-bottom: 20px;
}

#bestseller1 .bs-pro button{
    height:45px;
    width: 100px;
    border-radius: 10px;
    border-color: #FFD56F;
    cursor: pointer;
    background-color: transparent;
    transition: 0.5s;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: px;
}

#bestseller1 .bs-pro button:hover{
    background-color: #FFD56F;
    color: #2C3333;
}

#bestseller1 .bs-pro:hover{
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
}

#bestseller1 .bs-pro img{
    width: 100%;
    border-radius: 20px;
}

#bestseller1 .bs-pro .des{
    text-align: start;
    padding: 10px 0;
}

#bestseller1 .bs-pro .des span{
    color: #0E8388;
    font-size: 12px;
}

#bestseller1 .bs-pro .des h5{
    padding-top: 7px;
    color: #1a1a1a;
    font-size: 14px;
}

#bestseller1 .bs-pro .des i{
    font-size: 12px;
    color: rgb(243, 181, 25);
}

#bestseller1 .bs-pro .des h4{
    padding-top: 7px;
    font-size: 15px;
    font-weight: 700;
    color: #0E8388;
}

#banner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url("/img/page\ header.jpg");
    width: 100%;
    height: 40vh;
    background-size: cover;
    background-position: center;
}

#banner h4{
    color: #FFB26B;
    font-size: 20px;
}

#banner h2{
    color: #FFB26B;
    font-size: 50px;
    padding: 10px 0;
}

#banner button:hover{
    background-color: #FF7B54;
    color: #fff;
}

#banner button{
    color: #222;
}

footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-left: 50px;
    width: 80%s;
}

footer .col{
    display: flex;
    flex-direction: column;
    align-items: flex-start;

}

footer .logo{
    margin-bottom: 30px;
}

footer h4{
    font-size: 14px;
    padding-bottom: 20px;
}

footer p{
    font-size: 13px;
    margin: 0 0 8px 0;
}

footer .icon a{
    color: #222;
    font-size: 15px;
}


footer a{
    font-size: 13px;
    text-decoration: none;
    color: #222;
    margin-bottom: 10px;
}

footer .follow{
    margin-top: 20px;
    padding-right: 4px;
    cursor: pointer;
}

footer .follow{
    color: #0E8388;
}

#credits{
    display: flex;
    align-items: center;
    justify-content: center;
}

#credits p{
    font-size: 13px;
    margin: 0 0 8px 0;
}

.inputbox{
    padding-bottom: 50px;
}


@media (max-width:799px) {

    .section-p1{
        padding: 40px 40px;
    }

    #navbar {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 0;
        right: -300px;
        height: 100vh;
        width: 300px;
        background-color: #E3E6F3;
        box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
        padding: 80px 0 0 10px;
        transition: 0.3s;
    }

    #navbar.active{
        right: 0px;
    }

    #navbar li{
        margin-bottom: 25px;
    }

    #mobile{
        display: flex;
        align-items: center;
    }

    #mobile i{
        color: #1a1a1a;
        font-size: 24px;
        padding-left: 20px;
        transition: .6s;
    }

    #mobile i:hover{
        color: #FFB26B;
    }

    

    #close{
        display: initial;
        position: absolute;
        top: 30px;
        left: 30px;
        color: #222;
        font-size: 24px;
    }

    #lg-bag{
        display: none;
    }

    #resto{
        height: 70vh;
        padding: 0% 80px;
        background-position: top 30% right 30%;
    }

    #feature{
        justify-content: center;
    }

    #feature .fe-box{
        margin: 15px 15px;
    }

    #bestseller1 .bs-container{
        justify-content: center;

    }

    #bestseller1 .bs-pro{
        margin: 15px;
    }

    #banner{
        height: 20vh;
    }

    .box-3
    {
        width: 100%;
    }

    #mobile span{
        padding: 0px 4px;
        transition: .6s;
    }

    #mobile span:hover{
        color: #FFB26B  
    }
}

@media (max-width: 477px){

    .section-p1 {
        padding: 20px;
    }

    #mobile span{
        padding: 0px 4px;
        transition: .6s;
    }

    #mobile span:hover{
        color: #FFB26B  
    }

    #mobile i{
        color: #1a1a1a;
        font-size: 24px;
        padding-left: 20px;
        transition: .6s;
    }

    #mobile i:hover{
        color: #FFB26B;
    }

    #header{ 
        padding: 10px 30px; 
    }

    h2 {
        font-size: 32px;
    }

    h1 {
        font-size: 38px;
    }

    .box-3{
        width: 90%;
    }
    
    #resto {
        height: 70vh;
        padding: 0% 20px;
        background-position: 55%;
    }

    #feature {
        justify-content: space-between;
    }

    #feature .fe-box {
        width: 155px;
        margin: 0 0 15px 0px;
    }
    
    #bestseller1 .bs-pro {
        width: 100%;
    }

    #banner {
        height: 40vh;
    }

    /*Single Product */
    #prodetails {
        display: flex;
        flex-direction: column;
    }   
    
    #prodetails .single-pro-image{
        width: 100%;
    }
    #prodetails .single-pro-details{
        width: 100%;
    }

    #feature{
        padding-bottom: 30%;
    }
}

/*Menu Page*/
#page-header{
    background-image: url(/img/page\ header.jpg);
    width: 100%;
    height: 35vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding: 14px;
}

#page-header h2,
#page-header p{
    color: #FFB26B;
}

.food-search input[type="search"]{
    width: 30%;
    padding: 1%;
    border-radius: 30px;
    color: #2C3333;
    text-decoration: none;
}

.food-search input[type="quantity"]{
    width: 1%;
    padding: 1%;
    border-radius: 30px;
    color: #2C3333;
    text-decoration: none;
}

.quantity input[type="number"]{
    width: 25%;
    padding: 1%;
    border-radius: 30px;
    color: #2C3333;
    text-decoration: none;
    text-align: center;
}

.quantity input[type="submit"]{
    width: 50%;
    padding: 1%;
    border-radius: 30px;
    color: #2C3333;
    text-decoration: none;
    text-align: center;
}


.container{
    width: 80%;
    margin: 0 auto;
    padding: 1%;
}


.btn-primary{
    text-decoration: none;
    background-color: #FFB26B;
    border-width: .3px;
    padding: 2%;
    border-radius: 5px;
    color: #2C3333;
}

.btn-primary:hover{
    transition: .5s;
}

#pagination{
    text-align: center;
}

#pagination a{
    text-decoration: none;
    background-color: #FFB26B;
    padding: 15px 20px;
    border-radius: 15px;
    color: #2C3333;
    font-weight: 600;
    text-align: center;
}

#pagination a i{
    font-size: 16px;
    font-weight: 600;
    color: #222;
    text-align: center;
}

/*Menu Product*/

#prodetails{
    display: flex;
    margin-top: 20px;
}

.padding-image{
    padding: 50px;
    margin-left: 600px;
}

#prodetails .single-pro-image{
    margin-left: 280px;
    width: 35%;
}

.small-img-group{
    display: flex;
    justify-content: space-between;
}

.small-img-col{
    flex-basis: 24%;
    cursor: pointer;
}

#prodetails form{
    width: 100%;
}

#prodetails .single-pro-details{
    width: 30%;
    padding-top: 30px;
}

#prodetails .single-pro-details h4{
    padding: 40px 0 20px 0;
}

#prodetails .single-pro-details h2{
    font-size: 26px;
}

#prodetails .single-pro-details select{
    display: block;
    padding: 5px 10px;
    margin-bottom: 10px;
}

#prodetails .single-pro-details input{
    width: 50px;
    height: 47px;
    padding-left: 10px;
    font-size: 15px;
    margin-right: 10px;
}

#prodetails .single-pro-details button{
    background-color: #FF7B54;
    color: #2C3333;
    margin: 5px;
}

#prodetails .single-pro-details input:focus{
    outline: none;
}

#prodetails .single-pro-details span{
    line-height: 25px;
}

/* About page */
#page-header.about-header{
    background-image: url(../img/bg\ resto1.jpg);
    width: 100%;
    height: 20vh;
    opacity: 70%;
}

#page-header.about-header h2{
    color: #FFB26B;
}

#page-header.about-header p{
    color: #FFD56F;
}

#about-head{
    display: flex;
    align-items: center;
}

#about-header img{
    width: 50%;
    height: auto;
}

/* Contact Page*/

#contact-details{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#contact-details .details{
    width: 40%;
}

#contact-details .details span{
    font-size: 12px;
}

#contact-details .details h2{
    font-size: 26px;
    line-height: 35px;
    padding: 20px 0;
}

#contact-details .details h3{
    font-size: 16px;
    padding-bottom: 15px;
}

#contact-details .details li{
    list-style: none;
    display: flex;
    padding: 10px 0;
}

#contact-details .details li i{
    font-size: 14px;
    padding-right: 22px;
}

#contact-details .details li p{
    margin: 0;
    font-size: 14px;
}

#contact-details .map{
    width: 150px;
    height: 400px;
}

#contact-details .map iframe{
    width: 100%;
    height: 100%;
}

/*Cart Page*/

#cart{
    overflow-x: auto;
}

#cart table{
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    white-space: nowrap;
}

#cart table img{
    width: 70px;
    text-align: center;
}

#cart table td a :nth-child(1){
    width: 70px;
    text-align: center;
    text-decoration: none;
    color: #222;
}

#cart table td :nth-child(2){
    width: 100px;
    text-align: center;
    text-decoration: none;
}

#cart table td :nth-child(3){
    width: 100px;
    text-align: center;
    text-decoration: none;
}

#cart table td :nth-child(4){
    text-align: center;
}

#cart table td :nth-child(5),
#cart table td :nth-child(6){
    width: 150px;
    text-align: center;
}

#cart table td :nth-child(5){
    width: 70px;
    padding: 10px 5px 10px 15px;
}

#cart table thead{
    border: 1px solid #e2e9e1;
    border-left: none;
    border-right: none;
}

#cart table thead td{
    font-weight: 700;
    text-transform: uppercase;
    font-size: 13px;
    padding: 18px 0;
}

#cart table tbody tr td{
    padding-top: 15px;
}

#cart table tbody td{
    font-size: 13px;
}


#cart-add{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#coupon{
    width: 50%;
    margin-bottom: 30px;
}

#coupon h3,
#subtotal h3{
    padding-bottom: 15px;
}

#coupon input{
    padding: 10px 20px;
    outline: none;
    width: 60%;
    margin-right: 10px;
    border: 1px solid #e2e9e1;
}

#coupon button,
#subtotal button{
    background-color: #FFB26B;
    color: #2C3333;
    padding: 12px 20px;
}

#subtotal{
    width: 50%;
    margin-bottom: 30px;
    border: 1px solid #e2e9e1;
    padding: 30px;
}

#subtotal table{
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px;
}

#subtotal table td{
    width: 50%;
    border: 1px solid #e2e9e1;
    padding: 10px;
    font-size: 13px;
}

#bestseller1 .seller h2{
    padding-bottom: 15px;
}

.container1 {
    background-color: #FFB26B;
    padding: 50px;
  }
  
  .checkout-form {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    padding: 30px;
  }
  
  .inputbox1 {
    margin-bottom: 20px;
  }
  
  .inputbox1 h4 {
    font-size: 18px;
    margin-bottom: 10px;
    color: #FF7B54;
  }
  
  .inputbox1 input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    font-size: 16px;
    color: #666;
  }
  
  input[type="submit"] {
    background-color: #FF7B54;
    color: #fff;
    border: none;
    padding: 10px 30px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  input[type="submit"]:hover {
    background-color: #FF5E27;
  }
  
  .container2 {
    display: flex;
    justify-content: center;
    margin-right: 55%;
  }
  
  .normal1 {
    background-color: #FF7B54;
    color: #fff;
    border: none;
    padding: 10px 30px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  .normal1:hover {
    background-color: #FF5E27;
  }

  select {
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #fff;
    width: 100%;
    margin-bottom: 20px;
  }
  
  option {
    font-size: 16px;
    padding: 10px;
  }

.display-order{
    max-width: 50rem;
    background-color: var(--white);
    border-radius: .5rem;
    text-align: center;
    padding:1.5rem;
    margin:0 auto;
    margin-bottom: 2rem;
    box-shadow: var(--box-shadow);
    border:var(--border);
    font-size: 50px;
}
.display-order span{
    display: inline-block;
    border-radius: .5rem;
    background-color: var(--bg-color);
    padding:.5rem 1.5rem;
    font-size: 2rem;
    color:var(--black);
    margin:.5rem;
 }
.display-order span.grand-total{
    width: 100%;
    background-color: var(--red);
    color:var(--white);
    padding:1rem;
    margin-top: 1rem;
 }
  
 .checkout-form form{
    padding:2rem;
    border-radius: .5rem;
    background-color: var(--bg-color);
 }
 
 .checkout-form form .flex{
    display: flex;
    flex-wrap: wrap;
    gap:1.5rem;
 }
 
 .checkout-form form .flex .inputBox{
    flex:1 1 40rem;
 }
 
 .checkout-form form .flex .inputBox span{
    font-size: 1rem;
    color:var(--black);
 }
 
 .checkout-form form .flex .inputBox input,
 .checkout-form form .flex .inputBox select{
    width: 100%;
    background-color: var(--white);
    font-size: .5rem;
    color:var(--black);
    border-radius: .5rem;
    margin:1rem 0;
    padding:1.2rem 1.4rem;
    text-transform: none;
    border:var(--border);
 }

  